div#content {
	width: 87%;
}

div.uform {
	margin : 1% 4% -2.5%;
}

span.cont {
	width : 20%;
	text-align:center;
	line-height: 2vw;
}

span.expl {
	color: rgba(68, 191, 68, 1);
	width: auto;
}

span#spangamma1 {
	position: absolute;
	top: 88%;
	right: 19%;
	margin: -1vw auto;
	width : 16%;
}

span#spangamma1 > input {
	padding: 0 3%;
	width: 50%;
	background-color: #EEE;
}

span#spangamma2 {
	position: absolute;
	top: 28%;
	left: 6%;
	margin: -1vw auto;
	width : 16%;
}

span#spangamma2 > input {
	padding: 0 3%;
	width: 50%;
	background-color: #EEE;
}

span#spane > input {
	background-color: #EEE;
}

span#spanalpha {
	position:absolute;
	bottom:20%;
	right:32%;
}

span#spanbeta {
	position:absolute;
	bottom:6%;
	right:29%;
}

span#spana {
	position:absolute;
	top:64%;
	left:2%;
	margin : -1.5vw 0;
}

span#spanb {
	position:absolute;
	top: 90%;
	left: 40%;
	margin: -1vw -7.5%;
}

span#spanc {
	position:absolute;
	top:55%;
	left: 30%;
	width: 17%;
}

span#spanc > input {
	width: 50%;
}

span#spand {
	position:absolute;
	bottom:33%;
	left:47%;
}

span#spane {
	position:absolute;
	top:20%;
	left:34%;
	margin: -1vw auto;
}

span#spanreset {
	position:absolute;
	top:69%;
	left:44%;
}

.pythagore,.trigo1,.trigo2,.sega,.segb,.segc {
	opacity:0;
}