math {
	font-size: 1.5vw;
}

div#formula {
	width: 28%;
	font-size: 1.5vw;
	margin: 2% 2% auto auto;
}

svg#fond {
	width: 83%;
}

svg text {
	font-size: 0.3vw;
}

div.uform {
	margin : auto;
}

span.cont {
	width : 15%;
	line-height: 3vw;
	font-size: 1.5vw;
}

form {
	font-size: 1.5vw;
	position: absolute;
	top: 5%;
	right: 30%;
	text-align: right;
	padding-right: 3%;
	border-right: 1px dotted gray;
}

form input {
	font-size: 1.5vw;
	padding: 0 1%;
	width: 19%;
}

input#reset {
	margin-right: 2vw;
	padding: 0 4%;
}

span.expl {
	color: rgba(68, 191, 68, 1);
	width: auto;
}

.pythagore,.trigo1,.trigo2,.sega,.segb,.segc {
	opacity:0;
}