@viewport {
	width: 800px;
	user-scalable: no;
}

body {
	min-height: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	/*height:100%;
	min-height:100%*/
}

html {
	height:100%
}

h1 {
	display: none;
}

h2 {
	display: none;
}

h3 {
	margin: 0;
	display: inline;
}

div#formula {
	position: fixed;
	right: 0%;
	z-index: 1;
	text-align: right;
	font-size: 2vw;
	width: 50%;
}

math {
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	font-size: 2vw;
}

a {
	color: #333;
	text-decoration: none;
	margin: auto;
}

a.wikilink:hover {
	color: #FFBC00;
}

div#content {
	position: relative;
	padding: 0;
	margin: 0 auto;
}

div#menu-toggle {
	position: fixed;
	top: 1vw;
	left: 1vw;
	z-index: 1;
	width: 7%;
}

span.cont{
	font-size:3vw;
}

input {
	padding: 0 5%;
	border: 1px solid #AAA;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	font-size: 3vw;
	width: 64%;
	background-color: rgba(255, 255, 255, 0.5);
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}

/* Opéra*/
input::-o-inner-spin-button,
input::-o-outer-spin-button { 
	-o-appearance: none;
	margin:0
}

input#reset {
	border: 2px solid #AAA;
	background-color: rgba(230, 230, 230, 1);
	font-family: Arial, Helvetica, sans-serif;
	width: auto;
}

input:focus {
	border-color: rgba(82, 168, 236, 0.75);
	-moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
	-webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
	box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
}

.correct {
	border-color: rgba(68, 191, 68, 0.75);
	background-color: rgba(68, 191, 68, 0.25);
}

.correct:focus {
	border-color: rgba(68, 191, 68, 0.75);
	-moz-box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
	-webkit-box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
	box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
}

.incorrect {
	border-color: rgba(191, 68, 68, 0.75);
	background-color: rgba(255, 153, 153, 0.25);
}

.incorrect:focus {
	border-color: rgba(191, 68, 68, 0.75);
	-moz-box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
	-webkit-box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
	box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
}

.tooltip {
	display: inline-block;
	padding: 0 2%;
	border: 1px solid rgba(187, 0, 0, 1);
	background-color: rgba(255, 153, 153, 0.75);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	font-size: 1.5vw;
}

svg#fond {
	width: 100%;
}

img#logo {
	width: 13vmin;
	height: 13vmin;
}

#sidenav {
	background: white;
	width: 40vmin;
	overflow: hidden;
}

#sidenav .header {
	text-align: center;
}

#sidenav .title {
	border-bottom: 1px dotted #CCC;
	font-weight: bold;
	letter-spacing: -0.8vmin;
	padding: 0 0 1vmin;
	margin: -3vmin 1vmin 0 0;
	color: #111;
	font-size: 8vmin;
}

#sidenav #orange {
	color: #FFBC00;
}

#sidenav ul {
	list-style: none;
	margin: 3vmin auto 0;
	padding: 0;
}

#sidenav h4 {
	font-size: 1.7vmin;
	margin: 0;
	color: #888;
	font-weight: initial;
}

#sidenav ul li {
	text-align: center;
	padding-bottom: 1vmin;
	font-size: 2vmin;
}

#sidenav ul li span {
	margin: auto;
	padding: 0.1vmin 1vmin;
	-moz-border-radius: 0.5vmin;
	-webkit-border-radius: 0.5vmin;
	border-radius: 0.5vmin;
	font-weight: bold;
	font-size: 2.3vmin;
}

#sidenav ul li a span:hover {
	background-color: rgb(255, 188, 0, 0.5);
}

#sidenav ul li.active span, #sidenav ul li.active span:hover {
	background-color: rgb(212, 0, 0, 0.5);
}

div#menufooter {
	color: #444;
	font-size: 1.7vmin;
	text-align: center;
	line-height: 1.5vmin;
	border-top: 1px dotted #CCC;
	margin: 3.5vmin 1vmin 0;
}

div#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	Right: 0;
	color: #444;
	text-align: center;
}

div#menufooter p {
	margin-bottom: 0.8vmin;
}

div#menufooter img {
	opacity: 0.8;
	width: 1vmin;
	height: 1vmin;
}

div#footer img {
	opacity: 0.8;
	width: 1.5vmin;
	height: 1.5vmin;
}

div#menufooter a {
	color: #d00;
}

div#footer a {
	color: #d00;
}

#index div#sidenav {
	text-align: center;
	margin: auto;
}

#compteur span {
	display: inline-block;
	line-height: 1.7vmin;
	padding: 2.5vmin 0.5vmin;
	text-align: center;
	font-size: 2.5vmin;
	color: #FFF;
	background-color: #FFBC00;
	-moz-border-radius: 5vmin;
	-webkit-border-radius: 5vmin;
	border-radius: 5vmin;
}

.sn-sidenav {
	position:fixed;
	left:0;
	top:0;
	bottom:0;
	z-index:100;
	overflow-y:auto;
	will-change:transform;
	box-shadow:0 0 30px rgba(0,0,0,0.6);
}

.sn-backdrop {
	background:#000;
	position:fixed;
	left:0;
	top:0;
	bottom:0;
	right:0;
	display:none;
	opacity:0;
	z-index:50;
	will-change:opacity;
}

.sn-visible .sn-backdrop {
	display:block
}

.sn-content {
	position:relative;
	z-index:10
}

.sn-visible,.sn-visible body,.sn-visible .sn-content {
	overflow:hidden
}
	
