body {
	padding: 0 10% 0 0;
}

div#content {
	width: 94%;
}

div.uform {
	margin:1% 4% 0;
}

span.cont {
	width : 20%;
	text-align:center;
	line-height: 2vw;
}

span.cont > input {
	padding: 0 3%;
	width: 64%;
}

input#alpha2, input#beta2, input#gamma2, input#sega2, input#segb2, input#segc2 {
	display: none;
}

span#spanbeta {
	position: absolute;
	top: 80%;
	left: 9%;
	width: 19%;
}

span#spanbeta > input {
	width: 50%;
}

span#spanalpha {
	position: absolute;
	top: 81%;
	right: 15%;
	width: 19%;
}

span#spanalpha > input {
	width: 50%;
}

span#spangamma {
	position: absolute;
	top: 26%;
	left: 16%;
	width: 19%;
}

span#spangamma > input {
	width: 50%;
}

span#spana {
	position:absolute;
	top:50%;
	left:11%;
}

span#spanb {
	position:absolute;
	top:50%;
	right:42%;
}

span#spanc {
	position:absolute;
	top:86%;
	right:45%;
}

span#spanreset {
	position:absolute;
	top:67%;
	left:30%;
}

.alpha,.beta,.gamma,.sega,.segb,.segc {
	opacity:0;
}