body {
	padding: 0 10% 0 0;
}

div#content {
	width: 96%;
}

div.uform {
	margin:1% 4% 0;
}

span.cont {
	width : 20%;
	text-align:center;
	line-height: 2vw;
}

span.cont > input {
	padding: 0 3%;
	width: 64%;
}

span#spanalpha {
	position: absolute;
	top: 80%;
	left: 11%;
	width: 15%;
}

span#spanalpha > input {
	width: 60%;
}

span#spanbeta {
	position: absolute;
	top: 80%;
	right: 17%;
	width: 15%;
}

span#spanbeta > input {
	width: 60%;
}

span#spanb {
	position:absolute;
	top:47%;
	right:34%;
}

span#spana {
	position:absolute;
	top:47%;
	left:18%;
}

span#spanhyp {
	position:absolute;
	top:89%;
	right:56%;
	width: 37%;
	margin: -1vw -22%;
}

span#spanhyp > input {
	padding: 0 2%;
	width: 34%;
}

span#spanreset {
	position:absolute;
	top:61%;
	left:38%;
}

.alpha,.beta,.sega,.segb,.hyp {
	opacity:0;
}